.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: $inside-bg-color;
    border-radius: 15px;
    text-align: center;
}
.div0{
    margin: 0;
    padding: 0;
    border: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $inside-bg-color;
    border-radius: 15px;
    color: white;
}

.header1{
    display: flex;
    align-items: center;
    img.ordem{
        width: 200px;
        margin: 3px;
    }

    img.ponto{
        width: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 40px;
    }
}
.header2{
    margin-right: 1.5%;
}